@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Number</span>
    </div>
    <input type="number">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="addNumber">+</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(addNumber).click(function () {
            alert('ready');
        });
    </script>
}